<footer class="col-lg-12 bg-dark">
	<div class="container d-flex justify-content-between">
		<div class="text-light col-lg-6 bg-primary m-2">
			<h1 class="text-light text-center">VIVEK PUBLIC SCHOOL</h1>
			<ol>
				<li></li>
			</ol>
		</div>
		<div class="text-light col-lg-6 bg-danger m-2">sonu</div>
	</div>
	<div>
		<h1 class="text-light text-center">Enhancing Skills and Attitude.</h1>
		<pre class="text-light m-3">
		Education is not about getting good grades, its about developing awesome minds and enhancing good Skills which will help in 
	devloping our nation, our city and our Society</pre>
	</div>
	
</footer>