<style type="text/css">
	footer{
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}
</style>
<footer class="col-lg-12 bg-dark">
	<div class="container d-flex justify-content-between">
		<div class="text-light col-lg-6 m-2">
			<h1 class="text-light text-center m-3">VIVEK PUBLIC SCHOOL</h1>
			<ol>
				<li>History of School</li>
				<li>Principal's Message</li>
				<li>Syllabus</li>
				<li><a href="/admissions" class="text-light none">Admission</a></li>
				<li>Latest News</li>
			</ol>
		</div>
		<div class="text-light col-lg-6 m-2">
			<h1 class="text-center text-success m-3">Social Media</h1>
			<div class="d-flex justify-content-between m-5">
				<h1><a href="https://www.instagram.com/minakshi_tiwari0234?utm_source=qr&igsh=MTB6a3UxN2Jhb3I0bg=="><i class="fa fa-instagram text-danger"></i></a></h1>
				<h1><a href="https://www.facebook.com/profile.php?id=100058861704770&mibextid=ZbWKwL"><i class="fa fa-facebook text-primary"></i></a></h1>
				<h1><a href="https://telegram.org/"><i class="fa fa-telegram text-primary"></i></a></h1>
				<h1><a href="https://www.snapchat.com/add/minakshi023?share_id=CGdOog9AaFQ&locale=en-US"><i class="fa fa-snapchat text-warning"></i></a></h1>
			</div>
		</div>
	</div>
	<div>
		<h1 class="text-light text-center">Enhancing Skills and Attitude.</h1>
		<pre class="text-light m-3">
	Education is not about getting good grades, its about developing awesome minds and enhancing good Skills which will help in 
	devloping our nation, our city and our Society</pre>
	</div>
	
</footer>