<style type="text/css">
  .colorchange{
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary m-3 rounded">
  <div class="container-fluid">
    <a class="navbar-brand text-danger colorchange" href="#"><b>VIVEK PUBLIC SCHOOL</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home fs-3"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/about_us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts/new">Contact Us</a>
        </li>
        <%# if user_signed_in?%>
          <%# if 7==current_user.id%>
         <%#  <li class="nav-item">
            <a class="nav-link" href="/contacts">ContactData</a>
          </li> %>
          <%#end%>
        <%#end%>
        <% if user_signed_in?%>
        <li class="nav-item">
          <a class="nav-link" href="/admissions">Admission</a>
        </li>
        <%end%>
        <% if user_signed_in?%>
        <li class="nav-item">
          <a class="nav-link" href="/pages/students">Students</a>
        </li>
        <%end%>
      </ul>
      <% if user_signed_in?%>
        <%= button_to "Sign Out",destroy_user_session_path, method: :delete,class: "btn btn-outline-light m-1 ",data: { confirm: "If you log out"}%>

          <% if 7==current_user.id%>
            <a class="btn btn-outline-dark m-1" href="/contacts">MIS</a>
          <%end%>
      <%else%>
        <%= link_to "Sign Up",new_user_registration_path ,class: "btn btn-outline-light m-1"%>
        <%= link_to "Log In",new_user_session_path,class: "btn btn-outline-light m-1"%>
      <%end%>
      
      
    </div>
  </div>
</nav>