<section>
	<h1 class="card-body card text-center text-danger m-3">About Vivek Public School.</h1>
	<div>
		<h1>History and development.</h1>
		<div class="d-flex">
			<div class="col-lg-8 justify-content-around">
			<p>
				The concept of grouping students together in a centralized location for learning has existed since Classical antiquity. Formal schools have existed at least since ancient Greece (see Academy), ancient Rome (see Education in Ancient Rome) ancient India (see Gurukul), and ancient China (see History of education in China). The Byzantine Empire had an established schooling system beginning at the primary level. According to Traditions and Encounters, the founding of the primary education system began in 425 AD and "... military personnel usually had at least a primary education ...". The sometimes efficient and often large government of the Empire meant that educated citizens were a must. Although Byzantium lost much of the grandeur of Roman culture and extravagance in the process of surviving, the Empire emphasized efficiency in its war manuals. The Byzantine education system continued until the empire's collapse in 1453 AD.[12]
			</p>
			</div>
			<div>
				<img src="/assets/card/card1.jpg" class="img-thumbnail col-lg-8" alt="...">
			</div>
		</div>
		<div class="d-flex">
			<div>
				<img src="/assets/card/card2.jpg" class="img-thumbnail col-lg-8" alt="...">
			</div>
			<div class="col-lg-8 justify-content-around">
			<p>
				The concept of grouping students together in a centralized location for learning has existed since Classical antiquity. Formal schools have existed at least since ancient Greece (see Academy), ancient Rome (see Education in Ancient Rome) ancient India (see Gurukul), and ancient China (see History of education in China). The Byzantine Empire had an established schooling system beginning at the primary level. According to Traditions and Encounters, the founding of the primary education system began in 425 AD and "... military personnel usually had at least a primary education ...". The sometimes efficient and often large government of the Empire meant that educated citizens were a must. Although Byzantium lost much of the grandeur of Roman culture and extravagance in the process of surviving, the Empire emphasized efficiency in its war manuals. The Byzantine education system continued until the empire's collapse in 1453 AD.[12]
			</p>
			</div>
		</div>
		<div class="d-flex">
			<div class="col-lg-8 justify-content-around">
			<p>
				The concept of grouping students together in a centralized location for learning has existed since Classical antiquity. Formal schools have existed at least since ancient Greece (see Academy), ancient Rome (see Education in Ancient Rome) ancient India (see Gurukul), and ancient China (see History of education in China). The Byzantine Empire had an established schooling system beginning at the primary level. According to Traditions and Encounters, the founding of the primary education system began in 425 AD and "... military personnel usually had at least a primary education ...". The sometimes efficient and often large government of the Empire meant that educated citizens were a must. Although Byzantium lost much of the grandeur of Roman culture and extravagance in the process of surviving, the Empire emphasized efficiency in its war manuals. The Byzantine education system continued until the empire's collapse in 1453 AD.[12]
			</p>
			</div>
			<div>
				<img src="/assets/card/card3.jpg" class="img-thumbnail col-lg-8" alt="...">
			</div>
		</div>
		<div class="d-flex">
			<div>
				<img src="/assets/card/card4.jpg" class="img-thumbnail col-lg-8" alt="...">
			</div>
			<div class="col-lg-8 justify-content-around">
			<p>
				The concept of grouping students together in a centralized location for learning has existed since Classical antiquity. Formal schools have existed at least since ancient Greece (see Academy), ancient Rome (see Education in Ancient Rome) ancient India (see Gurukul), and ancient China (see History of education in China). The Byzantine Empire had an established schooling system beginning at the primary level. According to Traditions and Encounters, the founding of the primary education system began in 425 AD and "... military personnel usually had at least a primary education ...". The sometimes efficient and often large government of the Empire meant that educated citizens were a must. Although Byzantium lost much of the grandeur of Roman culture and extravagance in the process of surviving, the Empire emphasized efficiency in its war manuals. The Byzantine education system continued until the empire's collapse in 1453 AD.[12]
			</p>
			</div>
		</div>
	</div>
</section>