<style type="text/css">
	.section2{
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}
.section2 img{
	width: 250px;
}
</style>
<div class="text-center text-light bg-dark p-1">Welcome to</div>
<section class="border p-3 border-3 mb-2">
	<div>
		<h3 class="text-center">VIVEK PUBLIC SCHOOL</h3>
		<p>A school is known for a child when she / he enters a school system, it is the begining of a long journey of the ‘self and the world around’ in a gradual but regulated manner. Mark the words ‘gradual’ and ‘regulated’.Any attempt to overload the young brain with too much too soon is actually detrimental to a natural growth of the child’s brain and mind that are raw and still not developed fully in a biological sense. On the contrary, there is risk of killing the naturally evolving process of the spirit of enquiry and curiosity in the child even before they are awakened.That is what actually afflicting the school education system in the country today. What with public schools vying with each other in producing asmart new generation of the child prodigies.</p>
	</div>
</section>
<section class="mb-2 section2 p-5">
	<div class="d-flex justify-content-between">
		<img src="assets/logo.png">
		<img src="assets/admission.gif" class="" alt="...">
		<img src="assets/logo2.png">
	</div>
</section>
<section>
	<div class="d-flex justify-content-between m-5">
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card1.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card2.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card3.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
	</div>
	<div class="d-flex justify-content-between m-5">
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card4.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card5.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card6.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
	</div>
</section>