<style type="text/css">
	.section2{
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}
.section2 img{
	width: 250px;
}
.new{
    background-size: cover;
    background-position: center;
    animation: animateBg 1s linear infinite;
}

@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}
.section2 img{
	width: 250px;
}
</style>
<div class="text-center text-light bg-dark p-1">Welcome to</div>
<marquee class="p-1 bg-warning">Admission Open For Session 2024-2025<sup class="new text-danger">New</sup> </marquee>
<section class="border p-3 border-3 mb-2">
	<div>
		<h3 class="text-center">VIVEK PUBLIC SCHOOL</h3>
		<p>A school is known for a child when she / he enters a school system, it is the begining of a long journey of the ‘self and the world around’ in a gradual but regulated manner. Mark the words ‘gradual’ and ‘regulated’.Any attempt to overload the young brain with too much too soon is actually detrimental to a natural growth of the child’s brain and mind that are raw and still not developed fully in a biological sense. On the contrary, there is risk of killing the naturally evolving process of the spirit of enquiry and curiosity in the child even before they are awakened.That is what actually afflicting the school education system in the country today. What with public schools vying with each other in producing asmart new generation of the child prodigies.</p>
	</div>
</section>
<section class="mb-2 section2 p-5">
	<div class="d-flex justify-content-between">
		<img src="assets/logo.png">
		<img src="assets/admission.gif" class="" alt="...">
		<img src="assets/logo2.png">
	</div>
</section>
<section>
	<div class="d-flex justify-content-between m-5">
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card1.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card2.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card3.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
	</div>
	<div class="d-flex justify-content-between m-5">
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card4.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card5.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <img src="assets/card/card6.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
	</div>
</section>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Admission Request Info</h5>
        </div>
        <div class="modal-body">
          <form>
          	<div class="row">
			    <div class="col">
			      <input type="text" class="form-control" placeholder="First name">
			    </div>
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Last name">
			    </div>
			</div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Peen</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
          </form>
        </div>
        <div class="modal-footer">
        	<% if user_signed_in?%>
        	<button type="button" class="btn btn-primary">Submit</button>
        	<%else%>
          <%= link_to "Submit",new_user_session_path,class: "btn btn-primary"%>
          <%end%>
        </div>
      </div>
    </div>
  </div>


    

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script>
        $(document).ready(function(){
            setTimeout(function(){
                $("#exampleModal").modal("show")
            }),5000
        });
    </script>