<section>
	<h1 class="text-center text-danger">Students all details.</h1>
	<div class="card m-3" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">10 class students.</h5>
	    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
	  </div>
	</div>
</section>