<section>
	<h1 class="text-center text-danger">Students all details.</h1>
	<div class="d-flex justify-content-between">
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">1 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">2 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">3 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">4 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">5 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
	</div>
	<div class="d-flex justify-content-between">
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">6 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">7 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">8 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">9 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">10 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
	</div>
	<div class="d-flex justify-content-between">
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">11 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
		<div class="card m-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">12 class students.</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/secondearies" class="card-link btn btn-outline-primary">Students</a>
		  </div>
		</div>
	</div>
</section>